.quote {
    font-family: 'Source Sans Pro', sans-serif;
    color: purple;
    margin-top: 50px;
  }

.authorBox {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    color: purple;
    padding: 10px;
}

.share {
    padding: 0px;
    font-size: 30px;

}

#getMessage {
    background-color: white;
    color: purple;
    height: 30px;
    width: 100px;
    font-weight: bolder;
    border: 2px solid purple;
    margin-top: 10px;
}

#getMessage:hover {
    color: white;
    background-color: purple;
}

.fa-twitter {
    background-color: white;
    color: purple;
}
